# -*- mode: yaml -*-
# vim: ft=yaml

drbd:
  global:
    usage_count: "no"
    minor_count: 9
    quorum: "off"

  res:
    # DRBD resource name
    name: "test"

    # resource net protocol
    protocol: "C"

    # 
    on_io_error: "pass_on"

    # 
    device: "/dev/drbd9"

    # 
    disk: "/dev/vdb"

    # 
    meta_disk: "internal"

    #
    ip_port_list:
      - "192.168.122.102:7910"
      - "192.168.122.103:7910"

    node1_ip: "192.168.10.102"
    node2_ip: "192.168.10.103"
    node1_port: 7992
    node2_port: 7992
    node1_id: 1
    node2_id: 2



cluster:
  # Cluster name
  name: "hacluster"

  # optional: ntp server
  # ntp: pool.ntp.org
  ntp: "pool.ntp.org"
