# -*- mode: yaml -*-
# vim: ft=yaml

drbd:
  install_packages: true
  with_ha: false
  need_init_sync: true
  stop_after_init_sync: true

  salt:
    res_template: "res_single_vol_v9.j2"
    promotion: "salt-node2"
    sync_interval: 10
    sync_timeout: 500

  global:
    usage_count: "no"
    minor_count: 9

  common:
    options:
      quorum: "off"

  resource:
    - name: "beijing"
      device: "/dev/drbd5"
      disk: "/dev/vdb1"

      fixed_rate:  False
      c_plan_ahead: 20
      c_max_rate: "100M"
      c_fill_target: "10M"

      nodes:
        - name: "salt-node2"
          ip: "192.168.10.102"
          port: 7990
          id: 1
        - name: "salt-node3"
          ip: "192.168.10.103"
          port: 7990
          id: 2

    - name: "shanghai"
      device: "/dev/drbd6"
      disk: "/dev/vdb2"
      on_io_error: "detach"

      fixed_rate:  True
      resync_rate: "150M"

      nodes:
        - name: "salt-node2"
          ip: "192.168.10.102"
          port: 7982
          id: 1
        - name: "salt-node3"
          ip: "192.168.10.103"
          port: 7982
          id: 2


cluster:
  # Cluster name
  name: "hacluster"

  # optional: ntp server
  # ntp: pool.ntp.org
  ntp: "pool.ntp.org"
