resource {{ name }} {
   device    {{ device }};
   disk      {{ disk }};
   meta-disk {{ meta_disk }};
   net {
      protocol	{{ protocol }};
      ping-timeout {{ ping_timeout }};
   }
   disk {
      on-io-error	{{ on_io_error }};
      resync-rate {{ resync_rate }};
   }
   connection-mesh {
      hosts	{{ node1_name }} {{ node2_name }};
   }
   on {{ node1_name }} {
      address   {{ node1_ip }}:{{ node2_port }};
      node-id   {{ node1_id }};
   }
   on {{ node2_name }} {
      address   {{ node2_ip }}:{{ node2_port }};
      node-id   {{ node2_id }};
   }
}
