resource {{ name }} {
   device    {{ device }};
   meta-disk {{ meta_disk }};
{%- if disk is defined %}
   disk {{ disk }};
{%- endif %}
   net {
      protocol	{{ protocol }};
      ping-timeout {{ ping_timeout }};
   }
   disk {
      on-io-error	{{ on_io_error }};
{%- if fixed_rate %}
      resync-rate	{{ resync_rate }};
      c-plan-ahead	0;
{%- else %}
      c-plan-ahead	{{ c_plan_ahead }};
      c-delay-target	{{ c_delay_target }};
      c-fill-target	{{ c_fill_target }};
      c-max-rate	{{ c_max_rate }};
      c-min-rate	{{ c_min_rate }};
{%- endif %}
   }
   connection-mesh {
{% set node_list = [] -%}
{%- for node in nodes -%}
  {%- do node_list.append(node.name) -%}
{%- endfor -%}
{{ "      hosts	" ~ node_list|join(' ') }};
   }
{% for node in nodes -%}
{{ "   on " ~ node.name }} {
      address   {{ node.ip ~ ":" ~ node.port }};
{%- if node.disk is defined %}
      disk      {{ node.disk }};
{%- endif %}
      node-id   {{ node.id }};
   }
{% endfor -%}
}
